body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.auth-container,
.wheel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.auth-form {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.hidden {
    display: none;
}

button {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #218838;
}

.error {
    color: red;
    margin-top: 10px;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.wheel-container {
    margin-top: 20px;
}

.ticket-shop {
    margin-top: 20px;
    text-align: center;
}

.buy-btn {
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.buy-btn:hover {
    background-color: #0056b3;
}


/* Estilos para el perfil del admin Jonathan */

#profile-name {
    font-weight: bold;
    font-size: 1.5em;
}

#profile-name.admin {
    color: red;
}
